/*IMPORT FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/*SHARED ITEMS*/
.display-flex {
  display: flex;
}
.button {
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.25rem;
  color: white;
  background-color: #ff900e;
  border: none;
  padding: 20px 25px;
}
/*shared colors*/
.header-color {
  color: #131313;
}
.dark-2 {
  color: #424242;
}
.text-color {
  color: #727272;
}
.bg-color {
  background-color: rgba(255, 144, 14, 0.1);
}
/*HEADER STYLING*/
/*brand-name and navbar*/
.brand-name {
  font-size: 2.813rem;
  font-weight: bold;
}
.brand-name,
.nav-items-container {
  margin: 50px 0 102px 0;
}
.navbar {
  max-width: 1140px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.nav-items-container {
  list-style-type: none;
  gap: 40px;
}
.nav-links {
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 500;
}
/*banner styling*/
.banner-container {
  max-width: 1140px;
  margin: 0 auto;
}
.banner-content {
  max-width: 868px;
  margin: 0 auto 50px auto;
  text-align: center;
}
.banner-title {
  font-size: 4rem;
  font-weight: bold;
  margin: 0 auto;
}
.banner-description {
  font-size: 1rem;
  margin: 25px 0 32px 0;
}
.banner-img {
  width: 100%;
  margin-bottom: 45px;
}

/*QUICK LIST FEATURE SECTION STYLING*/
main {
  max-width: 1440px;
  margin: 0 auto;
}
.quick-list-features {
  align-items: center;
  gap: 4.6rem;
  margin-top: 85px;
}
.list-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.list-images img {
  width: 100%;
  display: block;
}
.list-container {
  max-width: 537px;
}
.list-title {
  font-size: 2.8rem;
  font-weight: bold;
  margin: 0 0;
}
#part1 {
  font-weight: 500;
}
.list-description {
  margin: 24px 0 32px 0;
}

/*FEATURE SECTION STYLING*/
.feature-section {
  gap: 146px;
  margin-top: 130px;
}
.feature-title {
  font-weight: bold;
  font-size: 2.81rem;
  border-left: 5px solid #ff900e;
  padding-left: 21px;
}
.feature-description {
  margin-bottom: 30px;
}
.list-item {
  padding: 30px 42px 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  border-radius: 8px;
}
.item-title {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0;
}
#badge {
  padding: 45px 42px;
  font-weight: 500;
  margin-top: -110px;
  margin-left: -100px;
}
#badge-info1 {
  font-size: 4rem;
  font-weight: bold;
}

/*FACT SECTION STYLING*/
.fact-section {
  margin: 130px 0 180px 0;
}
.fact-title {
  font-weight: bold;
  font-size: 2.81rem;
  margin: 0;
}
.fact-description {
  font-size: 1rem;
  max-width: 33.87rem;
  margin: 24px 0 100px 0;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 50px;
}
.fact-cards {
  display: flex;
  border-radius: 0.5rem;
  border: 1px solid #ff900e;
  width: 15rem;
  height: 15rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-number {
  font-weight: 600;
  font-size: 2.8rem;
  color: #424242;
  margin: 0;
}
.card-info {
  font-weight: 600;
  font-size: 1.125rem;
  color: #727272;
  margin: 0;
}

/*SPONSOR SECTION STYLING*/
.sponsor-info {
  max-width: 542px;
  margin: 0 auto 50px auto;
}
.sponsor-title {
  font-weight: bold;
  font-size: 2.81rem;
  margin: 0;
  text-align: center;
}
.sponsor-description {
  text-align: center;
}
.sponsor-lists {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.sponsor-lists img {
  filter: grayscale(1);
}

/*FOOTER STYLING*/
footer {
  max-width: 1140px;
  margin: 130px auto 0 auto;
  text-align: center;
  border-radius: 8px;
}
.footer-description {
  font-size: 1.25rem;
  padding: 40px 0;
}

/*HEADER RESPONSIVE (1)*/
@media screen and (max-width: 576px) {
  .navbar {
    flex-direction: column;
  }
  .brand-name {
    margin: 3.2rem 0;
  }
  .nav-items-container {
    margin: 0 0 3.1rem 0;
    padding: 0;
    gap: 1.75rem;
  }
  .banner-container {
    padding: 0 5px;
  }
}
/*QUICK LIST FEATURE SECTION RESPONSIVE (2)*/
@media screen and (max-width: 576px) {
  .quick-list-features {
    flex-direction: column;
  }
  .list-images {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  .list-container {
    padding: 0.5rem;
  }
}
/*FEATURE SECTION RESPONSIVE (3)*/
@media screen and (max-width: 576px) {
  .feature-section {
    flex-direction: column;
  }
  .image-container img {
    width: 100%;
  }
  #badge {
    margin: 0;
  }
}
/*FACT SECTION RESPONSIVE (4)*/
@media screen and (max-width: 576px) {
  .card-container {
    grid-template-columns: 1fr;
    gap: 15px;
    margin: 0;
    justify-items: center;
  }
  .fact-title,
  .fact-description {
    padding-left: 0.5rem;
  }
}
/*SPONSON SECTION RESPONSIVE (5)*/
@media screen and (max-width: 576px) {
  .sponsor-lists {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2rem;
  }
  .sponsor-info {
    margin-bottom: 75px;
  }
}
